@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "Work Sans", sans-serif;
}
  
html,body{
height: 100%;
width: 100%;
}

.dark-1{
    color: rgba(19, 19, 19, 1);
}

.dark-2{
    color: rgba(66, 66, 66, 1);
}
.dark-3{
    color: rgba(114, 114, 114, 1);
}
.color-orrange{
    background-color: rgba(255, 144, 14, 1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.banner{
    max-width: 1440px;
    margin: 50px auto;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.brand{
    font-weight: 700;
    font-style: 3rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list{
    display: flex;
}

.nav-items{
    list-style: none;
    margin-right: 30px;
    
}

.nav-links{
    text-decoration: none;
}

.nav-bar,.brand{
    max-width: 1440px;
    margin: 23px 33px;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-style: 4rem;
}

.banner-img{
    width: 100%;
}
.teams{
    display: flex;
    align-items: center;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-feature{
    margin-left: 130px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.some-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.some-description{
    max-width: 540px;
    margin-top: 30px;
}
.facts-container{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.sponser-info{
    max-width: 540px;
    margin: 20px auto;
    text-align: center;
}
.sopnser-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sopnser-companies img{
    filter: grayscale(100%);
}


/* small device */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img,
    .facts-container,
    .sopnser-companies{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .facts-container,
    .sopnser-companies{
        justify-content: center;
        gap: 24px;
    }
    .our-feature{
        margin-left: 20px;
    }

}

/* medum device */

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .our-feature{
        margin-left: 50px;
    }
    .sopnser-companies, .facts-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}